<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <header>
        <a href="{{ path('app_index') }}" class="btn btn-primary">Page Principale</a>
        <a href="{{ path('app_prescription_index') }}" class="btn btn-primary">Les Prescriptions</a>
        <a href="{{ path('app_indication_index') }}" class="btn btn-primary">Les Indicaions</a>
        <a href="{{ path('app_medicament_index') }}" class="btn btn-primary">Les Medicaments</a>
        <p> Vincent </p>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
